<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "Voiture/main.html" %}
{% block title %}
Voiture
{% endblock %}
{% block content %}
{% for l in liste %}
<ul class="ul-list">
     <li class="li-list"> Le club {{l}} a était crée en {{l.date_parution_marque|date:"d/m/Y"}}<br>Le club se trouve en {{l.pays_marque}}<br>Le club a gagné {{l.nombre_LDC}} ligue des champions<br>Détail sur {{l}} : {{l.description}} <a href="affiche/{{l.id}}"><button>Afficher les détails</button></a> <a href="delete/{{l.id}}"><button>Effacer</button></a> <a href="update/{{l.id}}"><button>Update</button></a></li>
</ul>
{%endfor%}
{% endblock %}
</body>
</html>